@font-face {
	font-family: Poiret; /* Имя шрифта */
	src: url(../fonts/PoiretOne-Regular.ttf);
}
@font-face {
	font-family: b52; /* Имя шрифта */
	src: url(../fonts/b52_[allfont.ru].ttf);
}
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	line-height: 1.5;
	height: 100%;
	color: #ccccc5;
}
h1,
h2,
h3 {
	color: #f9b238;
	letter-spacing: 5px;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.full_screen {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 50px 15px;
}
.full_screen_video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.full_screen_body {
	position: relative;
	z-index: 2;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
.full_screen_text {
	font-family: b52;
	text-align: center;
	font-size: 22px;
	letter-spacing: 18px;
	text-transform: uppercase;
}
.full_screen_text a {
	color: #0c1926;
	text-decoration: none;
}
.full_screen_text a:focus,
.full_screen_text a:hover {
	color: #616159;
	text-decoration: none;
	cursor: pointer;
}
.powered_by {
	font-family: b52;
	text-align: center;
	font-size: 16px;
	letter-spacing: 9px;
	color: #0c1926;
}
.cv {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1050;
	opacity: 0;
	-webkit-transition: opacity 500ms ease-in;
	-moz-transition: opacity 500ms ease-in;
	transition: opacity 500ms ease-in;
	pointer-events: none;
}
.cv:target {
	opacity: 1;
	pointer-events: auto;
	overflow-y: auto;
}
.cv_page {
	font-family: Poiret;
	position: relative;
	width: auto;
	margin: 20px;
}
@media (min-width: 576px) {
	.cv_page {
		max-width: 95%;
		margin: 30px auto;
	}
}
.cv_content {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #0c1926;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.3rem;
	outline: 0;
}
/* @media (min-width: 768px) {
	.cv_content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
} */
.cv_header,
.hard_skills,
.experience,
.education,
.aboutme {
	border-bottom: 1px solid #ccccc5;
}
.close {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 40px;
	font-weight: 600;
	line-height: 1;
	color: #f9b238;
	text-decoration: none;
}
.close:focus,
.close:hover {
	color: cyan;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.75;
}
.cv_title {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
.photo {
	margin: 30px;
}
.title {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin: 20px;
}
.name {
	font-size: 30px;
	letter-spacing: 15px;
	color: #f9b238;
	font-weight: 500;
	line-height: 2;
}
.position {
	font-size: 15px;
	letter-spacing: 5px;
}

.contacts {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	font-size: 15px;
	letter-spacing: 5px;
	line-height: 2;
}
.phone a,
.e-mail a {
	text-decoration: none;
	color: #ccccc5;
}
.phone a:hover,
.e-mail a:hover {
	font-size: 15px;
	color: cyan;
}
.social {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin-top: 10px;
}
.cv_body {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 20px;
	overflow: auto;
}
.hs a,
.tp p {
	text-decoration: none;
	color: #f9b238;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 1.5;
}
.hs a:hover {
	color: cyan;
}
p,
li,
label .courses {
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 1.5;
}
.tools,
.education_item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
}
.tools_2,
.courses {
	padding-left: 20px;
}
ul {
	list-style: inside;
}
.contacts_footer {
	display: flex;
	flex-direction: row;
	justify-self: start;
	justify-content: space-evenly;
}
.phone,
.e-mail,
.higher_education,
.courses,
.tools_1,
.tools_2 {
	max-width: 50%;
}
.spoiler input,
.spoiler div {
	display: none;
}
.spoiler label::before {
	content: "►";
	margin-right: 5px;
	color: #f9b238;
}
.spoiler :checked + label::before {
	content: "▼";
}
.spoiler :checked ~ div {
	display: block;
	padding: 10px;
}
@media (max-width: 930px) {
	.tools,
	.education_item {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
	.higher_education,
	.courses,
	.tools_1,
	.tools_2 {
		max-width: 100%;
	}
	.tools_2,
	.courses {
		padding-left: 0px;
	}
}
@media (max-width: 876px) {
	.photo {
		display: none;
	}
	.title {
		margin-top: 15px;
	}
}
@media (max-width: 600px) {
	.contacts_footer {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}
}
@media (max-width: 460px) {
	.phone,
	.e-mail {
		max-width: 100%;
	}
	.name {
		font-size: 20px;
		letter-spacing: 9px;
		color: #f9b238;
		font-weight: 500;
		line-height: 2;
	}
	p,
	li,
	label .courses {
		font-size: 15px;
		letter-spacing: 1.5px;
		line-height: 1.5;
	}
}
